* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #222222;
  font-family: 'Roboto', sans-serif;
}

circle, line {
  fill: transparent;
  stroke-width: 10px;
  stroke-linecap: round;
}
